/* Place CSS styles here */
* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color:rgb(229, 172, 197);
    font-family: 'Times New Roman', Times, serif;
    font-size: 36px;
    font-family: GB Garamond, serif;

header{
    padding: 10px;
    text-align: center;
    background-color: rgb(162, 7, 33);
    font-size: 20px;
    h1{
        color: rgb(229, 172, 197);;
    }
    nav{
        display: flex;
        justify-content: space-between;
    }
 }
   
.hero {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}
.hero-content {
    width: 90%;
    margin: 0 auto;
    text-align: center;
}
@media (max-width: 750px) { 
    .hero-content {
        width: 100%;
    }
}
h1{ 
    color: rgb(162, 7, 33);
    font-weight: bold;
}
h2{ 
    padding: 8px;
    border-radius: 10px;
    background:rgb(229, 172, 197) ;
    color: black; 
}
 img{
 flex-direction: center;
 width: 250px;
 border: 20px solid rgb(162, 7, 33);
 padding: 8px;
}

}

.menu {
 display: none; /* Hide the menu by default */
}
.hamburger {
  display: none; /* Hide the hamburger button by default */
}
@media (max-width: 750px) { .menu {
    display: block; /* Show the menu on smaller screens */
  }
  .hamburger {
    display: block; /* Show the hamburger button on smaller screens */
} }

.container-box

 img{
    flex-direction: center;
    width: 250px;
    margin: 20px;
    border: 20px solid rgb(162, 7, 33);
    padding: 8px;
}
.menu {
 display: none; /* Hide the menu by default */
}
.hamburger {
  display: none; /* Hide the hamburger button by default */
}
@media (max-width: 750px) { .menu {
    display: block; /* Show the menu on smaller screens */
  }
  .hamburger {
    display: block; /* Show the hamburger button on smaller screens */
} }
}

.submit-button{
padding: 6vw;
border-radius: 10px;
background:rgb(229, 172, 197) ;
color: black;
}

.artist-section {
    display: flex;
    gap: 20px;
}

@media (max-width: 750px) {
    .artist-section {
        flex-direction: column;
    }
}

.artist-section img {
    width: 100%;
}

nav {
    display: flex;
}